body {
  width: 100%;
}

#main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.card {
  width: 90%;
}

.landing-page-image {
  align-self: center;
  width: 50%;
}

.begin-button {
  color: white;
}

.begin-button:hover {
  color: white;
  text-decoration: none;
}

.button {
  float: right;
  margin: 1.5%;
}

.button-home {
  align-self: center;
  margin: 1.5%;
}

.score-image {
  width: 50%;
  align-self: center;
}

.answer-correct {
  font-size: 1.5rem;
  color: blue;
  margin-top: 2%;
}

.answer-incorrect {
  font-size: 1.5rem;
  color: red;
  margin-top: 2%;
}

.answer {
  font-size: 1.5rem;
}
