body {
  width: 100%;
}

#main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.card {
  width: 90%;
}

.landing-page-image {
  align-self: center;
  width: 50%;
}

.begin-button {
  color: white;
}

.begin-button:hover {
  color: white;
  text-decoration: none;
}

.button {
  float: right;
  margin: 1.5%;
}
